<h1>My Jupyter Notebook on IBM Watson Studio</h1>

**Masoumeh Pourabd**
<br>Masoumeh Pourabd

*I'm interested in data science to gain insight from data and I can use all the mathematics I learned throughout my education.*

### The code below executed as summation of "4+3=7"

In [1]:
3+4

7

<hr>
<br>
<ol>
    <li>1</li>
    <li>2</li>
    <li>3</li>
</ol>
<a href=""> </a>

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
%matplotlib inline     
sns.set(color_codes=True)

In [4]:
data=pd.read_excel('VAC.xlsx', engine='openpyxl')

In [5]:
data.head(5)

,HD,MD,Number,I,Death,CV1,CV2,Vaccine doses I,Vaccine doses II,Infected
0,1400-01-25,2021-04-14,1,25582,304,361951,100691,361951,100691,25582
1,1400-01-26,2021-04-15,2,25078,321,365160,102711,3209,2020,25078
2,1400-01-27,2021-04-16,3,25261,328,372362,112108,7202,9397,25261
3,1400-01-28,2021-04-17,4,21312,319,376684,121803,4322,9695,21312
4,1400-01-29,2021-04-18,5,21644,405,389266,127594,12582,5791,21644